<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.springcloud.dao.PaymentDao">

    <resultMap id="baseResultMap" type="com.lx.springcloud.entities.Payment">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <id column="serial" property="serial" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getPaymentById" resultMap="baseResultMap" parameterType="String">
        select * from t_payment where id = #{id}

    </select>

    <insert id="insertPayment" parameterType="com.lx.springcloud.entities.Payment" useGeneratedKeys="true" keyProperty="id" >
        insert into t_payment(id,serial) values(#{id},#{serial})
    </insert>
</mapper>